<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Login Page</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Login">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="password">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            
            <button mat-button color="primary" (click)="login()">Login</button>
            
            
<div>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1>REGISTER AS</h1>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p><a routerLink="/register">Farmer</a></p>
  <p><a routerLink="/biddersignup">Bidder</a></p>
  <p><a routerLink="/register">Admin</a></p>
</mat-expansion-panel></div>

          </mat-tab>

          <div>
            
          </div>
  
          
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div>
